  body {
            font-family: 'Dosis', sans-serif;
            font-family: 'Open Sans', sans-serif;
            font-family: 'Roboto', sans-serif;
            background-color: #EAEDF2;
        }